[core]
	editor = nvim
[url "git@github.com:"]
	insteadOf = https://github.com
[url "git@github.com:recarga/"]
	insteadOf = https://github.com/recarga/
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[user]
	name = Ariel Rodriguez
